<div class="d-md-none">
    <button class="btn btn-outline-dark text-start rounded-0 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSidebarProfile" aria-expanded="false" aria-controls="collapseSidebarProfile">
        <h5 class="fw-normal align-items-center"><i class="fas fa-bars me-2"></i> Menu Pengaturan </h5>
    </button>
</div>
<div class="profile-sidebar bg-white rounded-3 p-0 shadow-sm collapse" id="collapseSidebarProfile">
    <ul class="profile-nav list-unstyled m-0">
        <li class="profile-nav-item active">
            <a href="/profile-kalkulator.html" class="profile-nav-link">
                Profile Kalkulator
            </a>
        </li>

        <li class="profile-nav-item">
            <div class="profile-nav-link d-flex justify-content-between">
                <a href="/semua-percetakan.html" class="w-100">
                    <span class="text-standard">Semua Percetakan</span>
                </a>
                <a data-bs-toggle="collapse" href="#collapseSemuaPercetakan" role="button" aria-expanded="false" aria-controls="collapseSemuaPercetakan" class="flip-vertical" data-js-click="sidebar-kalkulator-001"><i class="bi bi-chevron-up"></i></a>
            </div>
        </li>
        <div class="collapse" id="collapseSemuaPercetakan">
            <li class="profile-nav-item">
                <a href="/mesin-cetak.html" class="profile-nav-link ps-5">
                    Mesin Cetak
                </a>
            </li>
            <li class="profile-nav-item">
                <a href="/mesin-laminasi.html" class="profile-nav-link ps-5">
                    Mesin Laminasi
                </a>
            </li>
            <li class="profile-nav-item">
                <a href="/mesin-pond.html" class="profile-nav-link ps-5">
                    Mesin Pond
                </a>
            </li>
            <li class="profile-nav-item">
                <a href="/mesin-poli.html" class="profile-nav-link ps-5">
                    Mesin Poli
                </a>
            </li>
        </div>
        <li class="profile-nav-item">
            <div class="profile-nav-link d-flex justify-content-between">
                <a href="/semua-toko-kertas.html" class="w-100">
                    <span class="text-standard">Semua Toko Kertas</span>
                </a>
                <a data-bs-toggle="collapse" href="#collapseSemuaTokoKertas" role="button" aria-expanded="false" aria-controls="collapseSemuaTokoKertas" class="flip-vertical" data-js-click="sidebar-kalkulator-002"><i class="bi bi-chevron-up"></i></a>
            </div>
        </li>
        <div class="collapse" id="collapseSemuaTokoKertas">
            <li class="profile-nav-item">
                <a href="/semua-kertas.html#harga-tab-pane" class="profile-nav-link ps-5" data-js-click="sidebar-kalkulator-003">
                    Harga Kertas Group
                </a>
            </li>
            <li class="profile-nav-item">
                <a href="/semua-kertas.html#group-tab-pane" class="profile-nav-link ps-5" data-js-click="sidebar-kalkulator-004">
                    Group Kertas
                </a>
            </li>
            <li class="profile-nav-item">
                <a href="/semua-kertas.html#ukuran-tab-pane" class="profile-nav-link ps-5" data-js-click="sidebar-kalkulator-005">
                    Ukuran Kertas
                </a>
            </li>
            <li class="profile-nav-item">
                <a href="/semua-kertas.html#jenis-tab-pane" class="profile-nav-link ps-5" data-js-click="sidebar-kalkulator-006">
                    Jenis Kertas
                </a>
            </li>
        </div>
        <li class="profile-nav-item">
            <a href="/pengaturan-keuntungan.html" class="profile-nav-link">
                Pengaturan Keuntungan
            </a>
        </li>
        <li class="profile-nav-item">
            <a href="/support-ticket-kalkulator.html" class="profile-nav-link">
                Support Ticket
            </a>
        </li>
    </ul>
</div>
    <script src="/js/pages/sidebar-kalkulator-events.js"></script>
