/* Extracted from former inline style attributes. */
#inline-style-kalkulator-potong-kertas-001#inline-style-kalkulator-potong-kertas-001#inline-style-kalkulator-potong-kertas-001#inline-style-kalkulator-potong-kertas-001 { margin-top:0; }
#inline-style-kalkulator-potong-kertas-002#inline-style-kalkulator-potong-kertas-002#inline-style-kalkulator-potong-kertas-002#inline-style-kalkulator-potong-kertas-002 { background-color: #fafafa;border: 1px solid #ddd; }
#planoSVG#planoSVG#planoSVG#planoSVG { background:#fff; }
