/* Extracted from former inline style attributes. */
#inline-style-order-view-001#inline-style-order-view-001#inline-style-order-view-001#inline-style-order-view-001 { background:#fff; }
#inline-style-order-view-002#inline-style-order-view-002#inline-style-order-view-002#inline-style-order-view-002 { width:220px; }
#inline-style-order-view-003#inline-style-order-view-003#inline-style-order-view-003#inline-style-order-view-003 { width: 100px; }
#inline-style-order-view-004#inline-style-order-view-004#inline-style-order-view-004#inline-style-order-view-004 { width: 100px; }
#inline-style-order-view-005#inline-style-order-view-005#inline-style-order-view-005#inline-style-order-view-005 { width: 100px; }
#inline-style-order-view-006#inline-style-order-view-006#inline-style-order-view-006#inline-style-order-view-006 { width: 100px; }
#inline-style-order-view-007#inline-style-order-view-007#inline-style-order-view-007#inline-style-order-view-007 { width: 100px; }
#inline-style-order-view-008#inline-style-order-view-008#inline-style-order-view-008#inline-style-order-view-008 { width: 100px; }
#productForm#productForm#productForm#productForm { display: none; }
#inline-style-order-view-010#inline-style-order-view-010#inline-style-order-view-010#inline-style-order-view-010 { background:#fff; }
#inline-style-order-view-011#inline-style-order-view-011#inline-style-order-view-011#inline-style-order-view-011 { width:260px; }
#inline-style-order-view-012#inline-style-order-view-012#inline-style-order-view-012#inline-style-order-view-012 { background:#fff; }
#inline-style-order-view-013#inline-style-order-view-013#inline-style-order-view-013#inline-style-order-view-013 { width:80%; }
#inline-style-order-view-014#inline-style-order-view-014#inline-style-order-view-014#inline-style-order-view-014 { width:20%; }
#toggleProductBtn#toggleProductBtn#toggleProductBtn#toggleProductBtn { background:#d60000; }
