/* Extracted from former inline style attributes. */
#inline-style-orders-001#inline-style-orders-001#inline-style-orders-001#inline-style-orders-001 { font-size: 0.8rem !important;font-weight: 600; }
#inline-style-orders-002#inline-style-orders-002#inline-style-orders-002#inline-style-orders-002 { font-size: 0.8rem !important;font-weight: 600; }
#inline-style-orders-003#inline-style-orders-003#inline-style-orders-003#inline-style-orders-003 { font-size: 0.8rem !important;font-weight: 600; }
#inline-style-orders-004#inline-style-orders-004#inline-style-orders-004#inline-style-orders-004 { font-size: 0.8rem !important;font-weight: 600; }
#inline-style-orders-005#inline-style-orders-005#inline-style-orders-005#inline-style-orders-005 { font-size: 0.8rem !important;font-weight: 600; }
#inline-style-orders-006#inline-style-orders-006#inline-style-orders-006#inline-style-orders-006 { font-size: 0.8rem !important;font-weight: 600; }
#inline-style-orders-007#inline-style-orders-007#inline-style-orders-007#inline-style-orders-007 { font-size: 0.8rem !important;font-weight: 600; }
#waitConfirmForm#waitConfirmForm#waitConfirmForm#waitConfirmForm { display: none; }
#waitPayForm#waitPayForm#waitPayForm#waitPayForm { display: none; }
#prosesDesignForm#prosesDesignForm#prosesDesignForm#prosesDesignForm { display: none; }
#prosesForm#prosesForm#prosesForm#prosesForm { display: none; }
#shippedForm#shippedForm#shippedForm#shippedForm { display: none; }
#cancelForm#cancelForm#cancelForm#cancelForm { display: none; }
