        th {
            font-size: 0.75rem !important;
            background-color: var(--primary-color) !important;
            color: white;
            text-align: center;
            padding: 10px;
            font-weight: 600;
        }

        td {
            font-size: 0.75rem !important;
            padding: 12px 10px;
            border-bottom: 1px solid var(--border-color);
        }

        tr:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.02);
        }
