    <link rel="stylesheet" href="css/pages/footer-inline.css">
<!-- Footer -->
<footer class="footer pt-5">
    <div class="container">
        <div class="row">
            <!-- Brand Column -->
            <div class="logo-text fw-bold d-md-none mb-4">Percetakan Dulank</div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 d-md-inline-block d-none">
                <div class="footer-logo mb-3">
                    <div class="logo d-flex align-items-center">
                        <div class="logo-text fw-bold">Percetakan Dulank</div>
                    </div>
                </div>
                <p class="footer-desc mb-4 text-standard" id="inline-style-footer-001">
                    PT. Dulank Semesta Cida, merupakan perusahaan percetakan yang berlokasi di Karawang dengan pengalaman sebagai supplier produk percetakan pada perusahaan besar di kawasan industri Karawang (KIIC - KIM - Surya Cipta) dan Cikarang (Jababeka - GIIC) dengan harga yang kompetitif dan terpercaya
                </p>
            </div>

            <!-- Information Column -->
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 d-md-inline-block d-none">
                <h5 class="footer-heading mb-4">Info Kami</h5>
                <ul class="footer-links">
                    <li><a class="text-standard" href="#" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Kebijakan Privasi</a></li>
                    <li><a class="text-standard" href="#" data-bs-toggle="modal" data-bs-target="#termsModal">Syarat dan Ketentuan</a></li>
                    <li><a class="text-standard" href="our-client.html">Our Client</a></li>
                    <li><a class="text-standard" href="blog.html">Blog</a></li>
                    <li><a class="text-standard" href="">Download Company Profile</a></li>
                </ul>
            </div>

            <!-- Guide -->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 d-md-inline-block d-none">
                <h5 class="footer-heading mb-4">Panduan Pelanggan Baru</h5>
                <ul class="footer-links">
                    <li><a class="text-standard" href="#">Panduan Belanja</a></li>
                    <li><a class="text-standard" href="#">Cara Penggunaan Voucher</a></li>
                    <li><a class="text-standard" href="#">Online Quotation</a></li>
                    <li><a class="text-standard" href="#">Request Quotation</a></li>
                    <li><a class="text-standard" href="#">Pembayaran</a></li>
                    <li><a class="text-standard" href="#">Pengiriman</a></li>
                    <li><a class="text-standard" href="#">Informasi Pengembalian Barang</a></li>
                    <li><a class="text-standard" href="#">Pengajuan Tempo/Termin</a></li>
                    <li><a class="text-standard" href="#">Panduan Pick Up Service</a></li>
                </ul>
            </div>


            <!-- Talk To Us Column -->
            <div class="col-lg-3 col-md-4">
                <h5 class="footer-heading mb-4">Contact</h5>
                <p class="text-standard mb-2">Got Questions? Call us</p>
                <h5 class="contact-phone mb-3"><a href="tel:+67041390762">+62877 8813 1400 </a></h5>
                <p class="text-standard contact-info mb-2">
                    <i class="far fa-envelope me-2"></i>
                    <a href="mailto:support@shofy.com">setting.percetakan.dulank@gmail.com</a>
                </p>
                <p class="text-standard contact-info">
                    <i class="fas fa-map-marker-alt me-2"></i>
                    Jl. Arif Rahman Hakim / Niaga (depan stasiun) Karawang Kel. Nagasari Kec. Karawang Barat Kab. Karawang Jawa Barat
                </p>
            </div>
        </div>

        <!-- Copyright Bar -->
        <div class="copyright-bar mt-4 pt-3 pb-3 border-top">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <p class="mb-0 text-standard">© 2025 Percetakan Dulank All rights reserved.</p>
                </div>
                <!-- <div class="col-md-6 text-center text-md-end">
                    <img src="https://ext.same-assets.com/3605464633/1165070829.png" alt="Payment methods" class="img-fluid payment-img">
                </div> -->
            </div>
        </div>
    </div>
</footer>

<div id="privacy-terms-placeholder"></div>
