    <link rel="stylesheet" href="css/pages/navbar-inline.css">
<!-- Main Navbar -->
 <nav class="navbar navbar-light navbar-expand-md py-1"id="my-navbar">
    <div class="container-fluid">
        <a class="navbar-brand d-block d-md-none fw-bold" href="/">Dulank.</a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1" type="button"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <div class="row">
                <div class="col-12 mb-2 border-3 py-3" id="inline-style-navbar-001">
                    <div class="row justify-content-between container mx-auto">
                        <div class="col-12 col-md-6 d-md-flex align-items-center">
                            <a href="/"><h4 class="d-none d-md-block fw-bold mt-1">Dulank.</h4></a>
                            <div class="search-form ms-md-4">
                                <form class="d-flex">
                                    <input class="form-control"  placeholder="Search for Products..." aria-label="Search">
                                    <button class="btn search-btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 align-items-center mt-1">
                            <div class="d-flex float-none float-md-end">
                                <div class="action-icons d-md-flex d-block">
                                    <div class="d-flex mb-3 mb-md-0 justify-content-center">
                                        <a href="wishlist.html" class="icon-link me-3 link">
                                            <span class="position-relative fs-5">
                                                <i class="bi bi-heart"></i>
                                                <span class="badge rounded-pill icon-badge">2</span>
                                            </span>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="/cart.html" class="icon-link me-3">
                                            <span class="position-relative fs-5">
                                                <i class="bi bi-cart3"></i>
                                                <span class="badge rounded-pill icon-badge">2</span>
                                            </span>
                                            <span>Cart</span>
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="quotation-send.html" class="icon-link">
                                            <span class="position-relative fs-5">
                                                <i class="bi bi-journal-text me-1"></i>
                                                <span class="badge rounded-pill icon-badge">2</span>
                                            </span>
                                            <div class="dropdown me-3">
                                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Ask For Quote
                                                </a>
                                                <div class="dropdown-menu py-2 px-3" id="inline-style-navbar-002">
                                                    <span class="fw-bold">Online Quotation</span>
                                                    <!-- Items 1-->
                                                    <a href="quotation-view.html" class="py-1 d-block d-flex align-items-center">
                                                        <img src="images/rp-pdf.png" alt="" width="30" height="30" class="me-2">
                                                        <div>
                                                            <div class="fw-semibold small" id="inline-style-navbar-003">Penawaran Harga #Q21000220213 masih tersedia.</div>
                                                            <div class="text-standard" id="inline-style-navbar-004">Segera lakukan pemesanan sebelum Penawaran Harga kadaluarsa!</div>
                                                        </div>
                                                    </a>
                                                    <hr>
                                                    <!-- Items 2-->
                                                     <a href="quotation-view.html" class="py-1 d-block d-flex align-items-center">
                                                        <img src="images/rp-pdf.png" alt="" width="30" height="30" class="me-2">
                                                        <div>
                                                            <div class="fw-semibold small" id="inline-style-navbar-005">Penawaran Harga #Q21000220213 masih tersedia.</div>
                                                            <div class="text-standard" id="inline-style-navbar-006">Segera lakukan pemesanan sebelum Penawaran Harga kadaluarsa!</div>
                                                        </div>
                                                    </a>
                                                    <div class="text-end mb-2">
                                                        <a href="quotation-send.html" class="text-standard my-text-primary">Selengkapnya</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="profile.html" class="icon-link fs-5">
                                            <span class="position-relative fs-5">
                                                <i class="bi bi-person-circle me-1"></i>
                                            </span>
                                            <div class="dropdown me-3">
                                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Profile
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="profile.html" class="d-block w-100 small dropdown-item py-2 px-3">Akun Saya</a>
                                                    <a href="/orders.html" class="d-block w-100 small dropdown-item py-2 px-3">Pesanan Saya</a>
                                                    <a href="/history.html" class="d-block w-100 small dropdown-item py-2 px-3">Beli Lagi</a>
                                                    <a href="/billing.html" class="d-block w-100 small dropdown-item py-2 px-3">Billing</a>
                                                    <a href="/address.html" class="d-block w-100 small dropdown-item py-2 px-3">Alamat</a>
                                                    <a href="/quotation-send.html" class="d-block w-100 small dropdown-item py-2 px-3">Quotation</a>
                                                    <a href="/login.html" class="d-block w-100 small dropdown-item py-2 px-3">Login</a>
                                                    <a href="/register.html" class="d-block w-100 small dropdown-item py-2 px-3">Sign In</a>
                                                    <a href="" class="d-block w-100 small dropdown-item py-2 px-3">Logout</a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center">
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="shopDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Products
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="shopDropdown">
                                <li><a class="dropdown-item" href="#">All Product</a></li>
                                <li><a class="dropdown-item" href="/categories.html">Category</a></li>
                                <li><a class="dropdown-item" href="/cetak-full-color.html">Cetak Full Color</a></li>
                                <li><a class="dropdown-item" href="#">Kalender</a></li>
                                <li><a class="dropdown-item" href="#">Buku</a></li>
                                <li><a class="dropdown-item" href="#">Nota</a></li>
                                <li><a class="dropdown-item" href="#">Cheksheet</a></li>
                                <li><a class="dropdown-item" href="#">Amplop</a></li>
                                <li><a class="dropdown-item" href="#">Yasin</a></li>
                                <li><a class="dropdown-item" href="#">Sticker</a></li>
                            </ul>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="">All Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categories.html">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cetak-full-color.html">Cetak Full Color</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/kalender.html">Kalender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cetak-buku.html">Cetak Buku</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact.html">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="calculatorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Kalkulator
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="calculatorDropdown">
                                <li><a class="dropdown-item" href="/kalkulator-berat-kertas.html">Berat Kertas</a></li>
                                <li><a class="dropdown-item" href="/kalkulator-potong-kertas.html">Potong Kertas</a></li>
                                <li><a class="dropdown-item" href="/kalkulator-percetakan.html">Percetakan</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://dulank-admin.netlify.app/">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
