<div class="d-md-none">
    <button class="btn btn-outline-dark rounded-0 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSidebarProfile" aria-expanded="false" aria-controls="collapseSidebarProfile">
        <i class="fas fa-bars me-2"></i> My Account
    </button>
</div>
<div class="profile-sidebar bg-white rounded-3 p-0 shadow-sm collapse" id="collapseSidebarProfile">
    <ul class="profile-nav list-unstyled m-0">
        <li class="profile-nav-item active">
            <a href="profile.html" class="profile-nav-link">
                <i class="fas fa-home me-2"></i> Profile
            </a>
        </li>
        <li class="profile-nav-item">
            <a href="orders.html" class="profile-nav-link">
                <i class="fas fa-shopping-bag me-2"></i> Orders
            </a>
        </li>
        <li class="profile-nav-item">
            <a href="history.html" class="profile-nav-link">
                <i class="fas fa-box-archive me-2"></i> Beli Lagi
            </a>
        </li>
        <li class="profile-nav-item">
            <a href="quotation-send.html" class="profile-nav-link">
                <i class="fas fa-regular fa-file-lines me-2"></i> Quotations
            </a>
        </li>
        <li class="profile-nav-item">
            <a href="billing.html" class="profile-nav-link">
                <i class="fa-solid fa-tag me-2"></i> Billings
            </a>
        </li>
        <li class="profile-nav-item">
            <a href="address.html" class="profile-nav-link">
                <i class="fas fa-map-marker-alt me-2"></i> Addresses
            </a>
        </li>
        <li class="profile-nav-item">
            <a href="support-ticket.html" class="profile-nav-link">
                <i class="fa-solid fa-ticket me-2"></i> Support Ticket
            </a>
        </li>
        <li class="profile-nav-item">
            <a href="#" class="profile-nav-link">
                <i class="fas fa-sign-out-alt me-2"></i> Logout
            </a>
        </li>
    </ul>
</div>
