/* Extracted from former inline style attributes. */
#inline-style-hitung-plano-001#inline-style-hitung-plano-001#inline-style-hitung-plano-001#inline-style-hitung-plano-001 { margin-top:0; }
#inline-style-hitung-plano-002#inline-style-hitung-plano-002#inline-style-hitung-plano-002#inline-style-hitung-plano-002 { background-color: #fafafa;border: 1px solid #ddd; }
#planoSVG#planoSVG#planoSVG#planoSVG { background:#fff; }
