/* Extracted from former inline style attributes. */
#inline-style-index-001#inline-style-index-001#inline-style-index-001#inline-style-index-001 { max-height: 80vh; }
#inline-style-index-002#inline-style-index-002#inline-style-index-002#inline-style-index-002 { max-height: 80vh; }
#inline-style-index-003#inline-style-index-003#inline-style-index-003#inline-style-index-003 { max-height: 80vh; }
#inline-style-index-004#inline-style-index-004#inline-style-index-004#inline-style-index-004 { text-align: justify; }
#inline-style-index-005#inline-style-index-005#inline-style-index-005#inline-style-index-005 { text-align: justify; }
#inline-style-index-006#inline-style-index-006#inline-style-index-006#inline-style-index-006 { max-width: 80px; }
#inline-style-index-007#inline-style-index-007#inline-style-index-007#inline-style-index-007 { max-width: 80px; }
#inline-style-index-008#inline-style-index-008#inline-style-index-008#inline-style-index-008 { z-index: 11 }
