/* Extracted from former inline style attributes. */
#inline-style-kalender-001#inline-style-kalender-001#inline-style-kalender-001#inline-style-kalender-001 { max-width: 180px; }
#inline-style-kalender-002#inline-style-kalender-002#inline-style-kalender-002#inline-style-kalender-002 { width: 24px;height: 24px; }
#inline-style-kalender-003#inline-style-kalender-003#inline-style-kalender-003#inline-style-kalender-003 { width: 24px;height: 24px; }
#inline-style-kalender-004#inline-style-kalender-004#inline-style-kalender-004#inline-style-kalender-004 { width: 24px;height: 24px; }
#inline-style-kalender-005#inline-style-kalender-005#inline-style-kalender-005#inline-style-kalender-005 { width: 30%; }
#qtyInput#qtyInput#qtyInput#qtyInput { margin: 3px 0; }
