/* Extracted from former inline style attributes. */
#inline-style-quotation-view-001#inline-style-quotation-view-001#inline-style-quotation-view-001#inline-style-quotation-view-001 { width: 50%; }
#inline-style-quotation-view-002#inline-style-quotation-view-002#inline-style-quotation-view-002#inline-style-quotation-view-002 { width: 20%; }
#inline-style-quotation-view-003#inline-style-quotation-view-003#inline-style-quotation-view-003#inline-style-quotation-view-003 { width: 10%; }
#inline-style-quotation-view-004#inline-style-quotation-view-004#inline-style-quotation-view-004#inline-style-quotation-view-004 { width: 20%; }
#inline-style-quotation-view-005#inline-style-quotation-view-005#inline-style-quotation-view-005#inline-style-quotation-view-005 { width: 100px; }
#inline-style-quotation-view-006#inline-style-quotation-view-006#inline-style-quotation-view-006#inline-style-quotation-view-006 { width: 100px; }
#inline-style-quotation-view-007#inline-style-quotation-view-007#inline-style-quotation-view-007#inline-style-quotation-view-007 { width: 100px; }
