/* Extracted from former inline style attributes. */
#inline-style-quotation-001#inline-style-quotation-001#inline-style-quotation-001#inline-style-quotation-001 { --bs-aspect-ratio: 30%; }
#inline-style-quotation-002#inline-style-quotation-002#inline-style-quotation-002#inline-style-quotation-002 { background-color: rgba(145, 39, 72, .1);border-top: 1px solid var(--primary-color);border-bottom: 1px solid var(--primary-color); }
