/* Extracted from former inline style attributes. */
#inline-style-cetak-buku-001#inline-style-cetak-buku-001#inline-style-cetak-buku-001#inline-style-cetak-buku-001 { max-width: 170px; }
#inline-style-cetak-buku-002#inline-style-cetak-buku-002#inline-style-cetak-buku-002#inline-style-cetak-buku-002 { max-width: 170px; }
#inline-style-cetak-buku-003#inline-style-cetak-buku-003#inline-style-cetak-buku-003#inline-style-cetak-buku-003 { width: 24px;height: 24px; }
#inline-style-cetak-buku-004#inline-style-cetak-buku-004#inline-style-cetak-buku-004#inline-style-cetak-buku-004 { width: 24px;height: 24px; }
#inline-style-cetak-buku-005#inline-style-cetak-buku-005#inline-style-cetak-buku-005#inline-style-cetak-buku-005 { width: 24px;height: 24px; }
#inline-style-cetak-buku-006#inline-style-cetak-buku-006#inline-style-cetak-buku-006#inline-style-cetak-buku-006 { width: 30%; }
#qtyInput#qtyInput#qtyInput#qtyInput { margin: 3px 0; }
