/* Extracted from former inline style attributes. */
#inline-style-cetak-full-color-001#inline-style-cetak-full-color-001#inline-style-cetak-full-color-001#inline-style-cetak-full-color-001 { width: 24px;height: 24px; }
#inline-style-cetak-full-color-002#inline-style-cetak-full-color-002#inline-style-cetak-full-color-002#inline-style-cetak-full-color-002 { width: 24px;height: 24px; }
#inline-style-cetak-full-color-003#inline-style-cetak-full-color-003#inline-style-cetak-full-color-003#inline-style-cetak-full-color-003 { width: 24px;height: 24px; }
#inline-style-cetak-full-color-004#inline-style-cetak-full-color-004#inline-style-cetak-full-color-004#inline-style-cetak-full-color-004 { width: 30%; }
#qtyInput#qtyInput#qtyInput#qtyInput { margin: 3px 0; }
