/* Extracted from former inline style attributes. */
#inline-style-checkout-001#inline-style-checkout-001#inline-style-checkout-001#inline-style-checkout-001 { border-color: var(--primary-color) !important; }
#inline-style-checkout-002#inline-style-checkout-002#inline-style-checkout-002#inline-style-checkout-002 { white-space:nowrap }
#inline-style-checkout-003#inline-style-checkout-003#inline-style-checkout-003#inline-style-checkout-003 { border-color: var(--primary-color) !important; }
#inline-style-checkout-004#inline-style-checkout-004#inline-style-checkout-004#inline-style-checkout-004 { white-space:nowrap }
#inline-style-checkout-005#inline-style-checkout-005#inline-style-checkout-005#inline-style-checkout-005 { font-size:14px; }
#inline-style-checkout-006#inline-style-checkout-006#inline-style-checkout-006#inline-style-checkout-006 { text-align: justify; }
#inline-style-checkout-007#inline-style-checkout-007#inline-style-checkout-007#inline-style-checkout-007 { background:#fcfdf7;border-radius: 20px; }
#inline-style-checkout-008#inline-style-checkout-008#inline-style-checkout-008#inline-style-checkout-008 { max-height:350px;overflow-y:auto; }
#inline-style-checkout-009#inline-style-checkout-009#inline-style-checkout-009#inline-style-checkout-009 { font-size:15px; }
#inline-style-checkout-010#inline-style-checkout-010#inline-style-checkout-010#inline-style-checkout-010 { font-size:15px; }
#inline-style-checkout-011#inline-style-checkout-011#inline-style-checkout-011#inline-style-checkout-011 { font-size:15px; }
#inline-style-checkout-012#inline-style-checkout-012#inline-style-checkout-012#inline-style-checkout-012 { font-size:15px; }
