/* Extracted from former inline style attributes. */
#inline-style-history-001#inline-style-history-001#inline-style-history-001#inline-style-history-001 { position: absolute;top: 20px;left: 0;right: 0; }
#inline-style-history-002#inline-style-history-002#inline-style-history-002#inline-style-history-002 { white-space:nowrap }
#inline-style-history-003#inline-style-history-003#inline-style-history-003#inline-style-history-003 { white-space:nowrap }
#inline-style-history-004#inline-style-history-004#inline-style-history-004#inline-style-history-004 { min-width:120px; text-align:right; }
#inline-style-history-005#inline-style-history-005#inline-style-history-005#inline-style-history-005 { min-width:120px; text-align:right; }
#inline-style-history-006#inline-style-history-006#inline-style-history-006#inline-style-history-006 { min-width:120px; text-align:right; }
#inline-style-history-007#inline-style-history-007#inline-style-history-007#inline-style-history-007 { min-width:120px; text-align:right; }
