/* Extracted from former inline style attributes. */
#inline-style-mesin-cetak-001#inline-style-mesin-cetak-001#inline-style-mesin-cetak-001#inline-style-mesin-cetak-001 { max-height: 80vh;overflow-y: auto; }
#inline-style-mesin-cetak-002#inline-style-mesin-cetak-002#inline-style-mesin-cetak-002#inline-style-mesin-cetak-002 { max-height: 80vh;overflow-y: auto; }
#inline-style-mesin-cetak-003#inline-style-mesin-cetak-003#inline-style-mesin-cetak-003#inline-style-mesin-cetak-003 { font-size:0.95em; }
